<html>

<head>
    <meta name="viewport" content="width=360, initial-scale=1">
    <title>New Invest</title>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="appCtrl.js"></script>
    <script src="Regions/Posts/postsCtrl.js"></script>
    <!-- <script src="locationController.js"></script> -->
</head>

<body ng-app="app" ng-controller="appCtrl">
    <!--   <div ng-controller="locationCtrl">
    </div> -->
    <div id="main_logo">
        <img src="img/logo.png">
    </div>
    <div id="search_field">
        <div class="input-group">
            <input type="text" ng-model="username" class="form-control" placeholder="Search for user posts">
            <span class="input-group-btn">
            <!-- <span class="main" ng-if="!searching"> -->
            <button ng-show="!searching" class="btn btn-default" ng-click="search();" type="button">Search</button>
            <!-- </span> -->
            <!-- <span class="main" ng-if="searching"> -->
            <button ng-show="searching" class="btn btn-default" disabled type="button">
                </i>Please wait...</button>
            <!-- </span> -->
            </span>
        </div>
    </div>
    <div id="page_content">
        <ng-view />
    </div>
</body>

</html>
