#main_logo {
    text-align: center;
}

@media screen and (min-width: 361px) {
    #page_content {
        width: 80%;
    }
}

@media screen and (max-width: 360px) {
    #page_content {
        width: 100%;
    }
}

.not_found {
    margin: 10px;
}

#page_content {
    text-align: center;
    margin: auto;
}

#search_field {
    text-align: center;
}

#search_field > div {
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
}

.thumbnail .post_content .main {
    display: flex;
    margin: 10px;
}

.thumbnail {
    position: relative;
    margin: 20px;
    min-height: 100px;
}

.thumbnail .date_created {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 100%;
}

.thumbnail .glyphicon {
    margin: 2px;
}

.thumbnail .caption {
    width: 100%;
}

.thumbnail .date_created .action {
    position: absolute;
    bottom: -5px;
    right: 0px;
}

// .thumbnail .title {
//     float: left;
// }
