<div ng-if="!notFound" class="thumbnail" ng-repeat="post in data">
    <div class="date_created">
        <div>
            <span class="label label-info">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true">
            </span> {{post.unix_timestamp | date : 'shortDate'}}
        </span>
        </div>
        <div>
            <span class="label label-info">
            <span class="glyphicon glyphicon-dashboard" aria-hidden="true">
            </span>{{post.unix_timestamp | date : 'shortTime'}}
        </span>
        </div>
        <div class="action">
            <a ng-href="{{post.url}}" target="blank" class="btn btn-primary">See original</a>
        </div>
    </div>
    <div class="post_content">
        <div class="main" ng-if="post.type == 'photo'">
            <div class="caption">
                <a ng-href="{{post.photo_url_1280}}" target="blank"><img ng-src="{{post.photo_url_250}}"></a>
                <p>{{post.slug}}</p>
            </div>
        </div>
        <div class="main" ng-if="post.type == 'link'">
            <div class="caption">
                <a ng-href="{{post.link_url}}" target="blank">{{post.link_text}}</a>
                <p ng-bind-html="post.link_description"></p>
            </div>
        </div>
        <div class="main" ng-if="post.type == 'regular'">
            <div class="caption">
                <h3>{{post.regular_title}}</h3>
                <p ng-bind-html="post.regular_body"></p>
            </div>
        </div>
        <div class="main" ng-if="post.type == 'conversation'">
            <div class="caption">
                <h3>{{post.conversation_title}}</h3>
                <div ng-repeat="sentence in post.conversation">
                    <p>{{sentence.label}} {{sentence.phrase}}</p>
                </div>
            </div>
        </div>
        <div class="main" ng-if="post.type == 'audio'">
            <div class="caption">
                <h3 ng-bind-html="post.audio_embed"></h3>
                <div ng-bind-html="post.audio_caption">
                </div>
            </div>
        </div>
        <div class="main" ng-if="post.type == 'video'">
            <div class="caption">
                <h3 ng-bind-html="post.video_player_250"></h3>
                <div ng-bind-html="post.video_caption">
                </div>
            </div>
        </div>
        <div class="main" ng-if="post.type == 'quote'">
            <blockquote>
                <p>"{{post.quote_text}}"</p>
                <footer>By:
                    <cite title="Source Title">{{post.quote_source}}</cite>
                </footer>
            </blockquote>
        </div>
    </div>
</div>
<div ng-if="notFound" class="not_found">
    <span class="label label-danger">
        User: '{{username}}' could not be found.
    </span>
</div>
